{% extends "base.html" %}

{% block title %}Flask模板使用2{% endblock %}

{% block main %}

  <div class="container welcome">
      <div class="row">
      
      <h1><i class="fas fa-baseball-ball"></i> Flask模板</h1>
      <p>　　影像辨識的發展，可以從 ImageNet ILSVRC 挑戰賽(Large Scale Visual Recognition Challenge)題目一窺端倪，2011年題目為影像分類(Classification)、影像分類及定位(Classification with Localization)，到了2017年題目為物體定位(Object Localization)、物體偵測(Object Detection)、影片物體偵測(Object Detection from Video)，就可以了解整個技術的演進。</p>
      </div>
    </div>

{% endblock %}

{% block script %}
<script>
  alert("從頭開始其是套用模板做出來的！");
</script>
{% endblock %}