{% extends "base.html" %}

{% block title %}長照新聞{% endblock title %}

{% block content %}
<body>
  <header class="container mt-3">

  </header>

  <main class="container mt-4">
    <h1>最新新聞</h1>
    <ul>
        {% for news in news_list %}
        <li>
            {% if news.img != '無圖片' %}
                <img src="{{ news.img }}" alt="新聞照片">
            {% endif %}
            <h3><a href="{{ news.link }}">{{ news.title }}</a></h3>
            <p>{{ news.context }}</p>
        </li>
        {% endfor %}
    </ul>
    <footer>
  <p><small>取自：<a href="https://www.twreporter.org/tag/58e5b2660f56b40d001ae6ea" target="_blank" rel="noopener noreferrer">報導者網站</a></small></p>
</footer>
</main>

  <footer class="text-start py-3 container">
    &copy; 2025 長照專案
  </footer>


  {% endblock content %}